body {
    background: #ACCEEC;
}

#mapControls {
    height: 100vh;
    float: left;
}

#board {
    width: 1200px;
    height: 1190px;
    background: gray;
    margin: 50 400;
}

.stravabtn {
    color: white;
    background-image: linear-gradient(-180deg, orange, orange 90%);
    font-size: 1.4em;
    width: 250px;
    height: 50px;
    border-radius: 15px;
}

.activityTitle{
    font-size: 10;
}

.selected{
    font-size: 1.3em;
    font-weight: 800;
}