body {
    background: #ACCEEC;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

a.button {
    padding: 10 20;
    border-radius: 10px;
    margin: 4px;
    color: white;
}

#betatext {
    font-size: 12;
    color: #FC4C02;
    font-weight: 800;
}

#board {
    /* height: 1500px; */
    flex-grow: 1;
}

#container {
    display: flex;
}

#leftSide {
    height: 95vh;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 350px;
    padding-top: 5px;
}

#header {
    display: flex;
    justify-content: space-between;
}