body {
    background: #ACCEEC;
}

#mapControls {
    height: 100vh;
    float: left;
}

#board {
    /* width: 1200px;
    height: 900px; */
    background: gray;
    margin: 40px 350px;
}

#sidebar {
    width: 350px;
    height: 600px;
}

#titleList {
    height: 650px;
    overflow-y: scroll;
}

.react-date-picker {
    height: 35;
}

.stravabtn {
    color: #52eb0c;
    background-image: linear-gradient(-180deg, orange, orange 90%);
    font-size: 1.4em;
    width: 250px;
    height: 50px;
    border-radius: 15px;
}

.activityTitle {
    font-size: 16;
}

.activityTitle:hover {
    font-size: 20;
    font-weight: 800;
}

.selected {
    font-size: 20;
    font-weight: 800;
}

button {
    padding: 10 20;
    border-radius: 10px;
    margin: 4px;
}

a.button {
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */
    padding: 10 20;
    border-radius: 10px;
    margin: 4px;
    color: white;
    background-color: orange;
    float: right;
}

.removeLink {
    color: black;
    background-color: red;
    float: right;
}

.rideLink {
    color: white;
    background-color: orange;
    float: right;
}