#mapControls {
    display: grid;
    grid-template-columns: 25% 23% 4% 24% 24%;
    grid-template-rows: 20px 45px 45px 40px 40px;
}

#fogOfDemo {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
}

#dateLabel {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#typeLabel {
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;
}

#activityType {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}

#afterDatePicker {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#beforeDatePicker {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#getActBtn {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
}

#hideMapBtn {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 5;
}

.zipinput {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 4;
}

