::-webkit-scrollbar {
    display: none;
}

#activityType {
    width: 160px;
    height: 40px;
    margin-left: 10px;
}

#fogOfDemo {
    background-color: rgba(15, 15, 15, 0.75);
    z-index: 5;
    border-radius: 5px;
    /* font-weight: 800; */
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

#demoBtn {
    margin: 0px 50px;
}

#demoText {
    margin: auto;
    color: white;
}

#demoInstructions {
    font-size: 0.7em;
    padding: 0 6;
}

#getActBtn {
    color: white;
    background-color: rgb(55, 194, 0);
    border: 0;
}

#mapControls {
    width: 340px;
}

#title {
    font-size: 40px;
    text-align: center;
    margin-left: 25%;
    font-weight: 800;
}

#titleList {
    max-height: 64vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

#flashMessage {
    padding: 10px;
    margin-left: 50px;
    font-size: 18px;
    color: red;
    font-weight: 800;
}

/* Classes */

.activityTitle {
    font-size: 16;
}

.activityTitle:hover {
    font-weight: 800;
}

.activityTitle>span:hover {
    cursor: pointer;
}

.typeBtn {
    display: inline-block;
    border: 1px solid black;
    background-color: gray;
    cursor: pointer;
    padding: 0 5px;
}

.typeSelected {
    background-color: darkgrey;
    opacity: 100%;
}

.typeImg{
    height: 39px;
    width: 39px;
    opacity: 50%;

}


#activityType>div:first-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 5px;
}

#activityType>div:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.demoText {
    display: block;
    width: 100%;
    text-align: center;
}

.marginTop {
    margin-top: 30;
}

.react-date-picker {
    height: 35;
}

.removeLink {
    color: #FC4C02;
    padding: 10 10;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 15px;
}

.rideLink {
    color: white;
    background-color: #FC4C02;
    display: inline-block;
    text-decoration: none;
}

.selectedTitle {
    font-size: 20;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background: lightblue;
}

.rideInfo {
    font-size: 15;
    font-weight: 200;
}

.rideInfoDate {
    float: left;
    font-size: 20px;
    padding: 5px;
}

.rideInfoDistance {
    float: right;
}

.rideInfoElapsedTime {
    float: right;
}

.sidebar {
    /* height: 600px; */
}

.smallText {
    font-size: .6em;
}

.zipinput {
    font-size: 18px;
    margin: 4px;
}